{% extends 'base.twig' %}

{% block content %}
	<article class="submission">
		<h1>ART-CO Submission</h1>

		<p>All images must be 1mb or less in size</p>

		<form action="/artco-submit" method="post" enctype="multipart/form-data">
			{{function('wp_nonce_field')}}

			<label for="post_title">
				Title
				<input type="text" name="post_title" />
			</label>
			<p>Choose up to 10 Images for a carousel</p>
			<label for="post_image_1">
				Image 1
				<input type="file" name="post_image_1" />
			</label>
			
			<label for="post_slide_description_1">
				Image 1 Description
				<textarea name="post_slide_description_1"></textarea>
			</label>
			<label for="post_image_2">
				Image 2
				<input type="file" name="post_image_2" />
			</label>
			
			<label for="post_slide_description_2">
				Image 2 Description
				<textarea name="post_slide_description_2"></textarea>
			</label>
			<label for="post_image_3">
				Image 3
				<input type="file" name="post_image_3" />
			</label>
			
			<label for="post_slide_description_3">
				Image 3 Description
				<textarea name="post_slide_description_3"></textarea>
			</label>
			<label for="post_image_4">
				Image 4
				<input type="file" name="post_image_4" />
			</label>
			
			<label for="post_slide_description_4">
				Image 4 Description
				<textarea name="post_slide_description_4"></textarea>
			</label>
			<label for="post_image_5">
				Image 5
				<input type="file" name="post_image_5" />
			</label>
			
			<label for="post_slide_description_5">
				Image 5 Description
				<textarea name="post_slide_description_5"></textarea>
			</label>
			<label for="post_image_6">
				Image 6
				<input type="file" name="post_image_6" />
			</label>
			
			<label for="post_slide_description_6">
				Image 6 Description
				<textarea name="post_slide_description_6"></textarea>
			</label>
			<label for="post_image_7">
				Image 7
				<input type="file" name="post_image_7" />
			</label>
			
			<label for="post_slide_description_7">
				Image 7 Description
				<textarea name="post_slide_description_7"></textarea>
			</label>
			<label for="post_image_8">
				Image 8
				<input type="file" name="post_image_8" />
			</label>
			
			<label for="post_slide_description_8">
				Image 8 Description
				<textarea name="post_slide_description_8"></textarea>
			</label>
			<label for="post_image_9">
				Image 9
				<input type="file" name="post_image_9" />
			</label>
			
			<label for="post_slide_description_9">
				Image 9 Description
				<textarea name="post_slide_description_9"></textarea>
			</label>
			<label for="post_image_10">
				Image 10
				<input type="file" name="post_image_10" />
			</label>
			
			<label for="post_slide_description_10">
				Image 10 Description
				<textarea name="post_slide_description_10"></textarea>
			</label>
			<label for="post_artist_information">
			Artist Information
			<textarea name="post_artist_information" rows="15" cols="80"></textarea>
			</label>
			<input type="submit" value="Submit" />
		</form>
	</article>
{% endblock %}