{% extends "base.twig" %}
{% block content %}
	<section class="artco-list">
	<h1>ART-CO</h1>
	{{page.content}}
		{% for post in posts %}
			<article>
				{% if post.get_field('slides') %}
				{% set img = TimberImage(post.get_field('slides')[0].image) %}
				<img class="preview" src="{{ img.get_src('proportional-thumbnail') }}">
				{% endif%}
				<h2><a href="/artco/{{post.post_name}}">{{ post.post_title }}</a></h2>
			</article>
		{% endfor %}
	</section>
	
{% endblock %}