{% extends "base.twig" %}

{% block head %}
	<meta name="description" content="Dikeou Collection's profile for {{ post.post_title }}" />
{% endblock %}

{% block content %}
	<div class="artist-header">
		<h1>{{post.post_title}}</h1>
		{{ include('artist-nav.twig') }}
	</div>
	<div class="artist-body">
	{% for gallery in post.get_field('artist_galleries') %}
		{% include 'gallery.twig' with {'class': 'gallery'} %}
	{% endfor %}
	</div>
{% endblock %}