<li class="artist-slide">
	<div class="slide-image" style="background-image: url({{ image.get_src('slide_full') }})">
	</div>
	<div class="slide-controls"> 
		<a href="#" class="slide-open">i</a>
		<a href="#"class="slide-prev">&lt;</a>
		<a href="#" class="slide-next">&gt;</a>
		<a href="#" class="slide-zoom">enlarge</a>
	</div>
	<div class="slide-content">
		<h5>{{slide.title}}</h5>
		{{slide.caption}}	
	</div>
    <div class="slide-modal" data-src="{{ image.get_src}}">
    </div>
</li>