<li class="artist-slide active">
	<div class="slide-image" style="background-image: url({{ image.get_src('slide_full') }})">
	</div>
	<div class="slide-controls"></div>
	<div class="slide-content">
		<h5>{{slide.title}}</h5>
		{{slide.caption}}	
	</div>
    <div class="slide-modal" data-src="{{ image.get_src}}">
    </div>
</li>