<li class="artist-slide">
		<figure class="slide">
			<img src="{{TimberImage(slide.image).src}}" />
			<figcaption>
			<h5>{{slide.title}}</h5>
			<p>
				{{slide.caption}}
			</p>
			</figcaption>
	    </figure>
</li>