{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="{{ page_type }}">
	<div class="left">
	
		<div class="logo" id="d-logo">
			<a href="/"><img src="/wp-content/themes/dikeou-collection/static/images/logo.svg" /></a>
		</div>
		<nav id="d-nav">
			<div class="nav-inner">
			<ul class="nav-links">
				<a href="/artists" class="{% if page_type == 'artists' %}active{% endif %}"><li>Artists</li></a>
				<a href="/events" class="{% if page_type == 'event' %}active{% endif %}"><li>Events</li></a>
				<a href="/contact" class="{% if page_type == 'contact' %}active{% endif %}"><li>Contact</li></a>
				<a href="/about" class="{% if page_type == 'about' %}active{% endif %}"><li>About</li></a>
				<a href="/programs" class="{% if page_type == 'programs' %}active{% endif %}"><li>Programs</li></a>
				<a href="/internships" class="{% if page_type == 'internships' %}active{% endif %}"><li>Internships</li></a>
				<a href="/pop-up" class="{% if page_type == 'pop-up' %}active{% endif %}"><li>Pop-Up</li></a>
				<a href="/blog"><li>Blog</li></a>
				<a href="/artco-posts" class="{% if page_type == 'art-co' %}active{% endif %}"><li>ART-CO</li></a>
        <a href="/mid-career-smear" class="{% if page_type == 'mid-career-smear' %}active{% endif %}"><li>Mid-Career Smear</li></a>
			</ul>
			</div>
		</nav>
	</div>
		<section id="content" role="main" class="content-wrapper">
			<div class="wrapper">
				{% block content %}
				{% endblock %}
			</div>
		</section>
	<script src="{{site.theme.link}}/static/js/site.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55f8083bdbb589bb" async="async"></script>

	</body>
</html>