{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="{{ page_type }}">
	<div class="left">
	
		<div class="logo">
			<img src="/wp-content/themes/dikeou-collection/static/images/logo.svg" />
		</div>
		<nav>
			<div class="nav-inner">
			<ul class="nav-links">
				<a href="/artists" class="{% if page_type == 'artists' %}active{% endif %}"><li>Artists</li></a>
				<a href="/events" class="{% if page_type == 'event' %}active{% endif %}"><li>Events</li></a>
				<a href="/contact" class="{% if page_type == 'contact' %}active{% endif %}"><li>Contact</li></a>
				<a href="/about" class="{% if page_type == 'about' %}active{% endif %}"><li>About</li></a>
				<a href="/art-co"><li>ART-CO</li></a>
				<a href="/tmublr"><li>Tumblr</li></a>
			</ul>
			</div>
		</nav>
	</div>
		<section id="content" role="main" class="content-wrapper">
			<div class="wrapper">
				{% block content %}
				{% endblock %}
			</div>
		</section>
	<script src="{{site.theme.link}}/static/js/site.js"></script>
	</body>
</html>