{% extends 'base.twig' %}

{% block content %}
	<section class="posts">
		{% for post in posts %}
			{% include 'blog-post.twig' with {'post': post} %}
		{% endfor %}
	</section>
	{% if next_page or prev_page %}
		{% include 'blog-pagination.twig' with {'next_page': next_page, 'prev_page': prev_page } %}
	{% endif %}
{% endblock %}