{% extends "base.twig" %}

{% block content %}
	<div class="single">
		<div class="contact-nav">
			<ul>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#newsletter">Newsletter</a></li>
				<li><a href="#location">Location</a></li>
				<li><a href="#internship">Internship</a></li>
			</ul>
		</div>
		<article id="contact">
			<h2>Contact</h2>

			{{ post.get_field('contact_content') }}
		</article>
		<article id="newsletter">
			<h2>Newsletter Signup</h2>
			<form action="/newsletter" method="get">
				<input type="email" name="email" placeholder="Enter Email" />
				<button type="submit">Submit</button>
			</form>
		</article>
		<article id="location">
			<h2>Location</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2832.7235418793293!2d-104.99146136594591!3d39.74484158278594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x75363e298555f127!2sDikeou+Collection!5e0!3m2!1sen!2sus!4v1436740463696" width="320" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
			<br />
			{{ post.get_field('cpost.location_content') }}
		</article>
		<article id="internship">
			<h2>Internship Program</h2>
			{{ post.get_field('cpost.internship_content') }}
		</article>
	</div>
{% endblock %}