{% extends "base.twig" %}

{% block content %}
	<div class="single">
		<div class="contact-nav">
			<ul>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#newsletter">Newsletter</a></li>
				<li><a href="#location">Location</a></li>
				<li><a href="#internship">Internship</a></li>
			</ul>
		</div>
		<article id="contact">
			<h2>Contact</h2>

			{{ post.get_field('contact_content') }}
		</article>
		<article id="newsletter">
			<!--Begin CTCT Sign-Up Form-->
			<!-- EFD 1.0.0 [Tue Jul 14 19:20:36 EDT 2015] -->
			<div class="ctct-embed-signup" style="font: 16px Helvetica Neue, Arial, sans-serif; font: 1rem Helvetica Neue, Arial, sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased;">
			   <div style="color:#010101; background-color:#FFFFFF; border-radius:5px;">
			       <span id="success_message" style="display:none;">
			           <div>Thanks for signing up!</div>
			       </span>
			       <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
			           <h2 style="margin:0;">Newsletter Signup</h2>
			           <p></p>
			           <!-- The following code must be included to ensure your sign-up form works properly. -->
			           <input data-id="ca:input" type="hidden" name="ca" value="186e7ca3-c71a-464c-8611-de2c504a11c9">
			           <input data-id="list:input" type="hidden" name="list" value="2">
			           <input data-id="source:input" type="hidden" name="source" value="EFD">
			           <input data-id="required:input" type="hidden" name="required" value="list,email">
			           <input data-id="url:input" type="hidden" name="url" value="">
			           <p data-id="Email Address:p" > <input data-id="Email Address:input" placeholder="Email address" type="text" name="email" value="" maxlength="80"></p>
			           <button type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign Up</button>
			       </form>
			   </div>
			</div>
			<script type='text/javascript'>
			   var localizedErrMap = {};
			   localizedErrMap['required'] = 		'This field is required.';
			   localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
			   localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
			   var postURL = 'https://visitor2.constantcontact.com/api/signup';
			</script>
			<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
			<!--End CTCT Sign-Up Form-->
		</article>
		<article id="location">
			<h2>Location</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2832.7235418793293!2d-104.99146136594591!3d39.74484158278594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x75363e298555f127!2sDikeou+Collection!5e0!3m2!1sen!2sus!4v1436740463696" width="320" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
			<br />
			{{ post.get_field('location_content') }}
		</article>
		<article id="internship">
			<h2>Internship Program</h2>
			{{ post.get_field('internship_content') }}
		</article>
	</div>
{% endblock %}