{% extends "base.twig" %}

{% block content %}
<section class="header">
<h1>Events</h1>
</section>
<section class="calendar-container">
	<div class="calendar">
	</div>
</section>
<section class="events" data-month="{{ pagination.this_page }}">
	<div class="pagination" data-next-page="{{ pagination.next_page }}" data-prev-page="{{ pagination.prev_page }}">
	</div>
	{% include "events-list.twig" %}
</section>

{% endblock %}