{% extends "base.twig" %}

{% block content %}
<section class="events" data-month="{{ posts[0].event_date|slice(0, 6) }}">
	{% include "events-list.twig" %}
</section>
<div class="pagination">
	{% if pagination.next_page %}
		{{ dump(pagination.next_page) }}
	{% endif %}
	{% if pagination.prev_page %}
		{{ dump(pagination.prev_page) }}
	{% endif %}
</div>
{% endblock %}