{% extends "base.twig" %}

{% block content %}
<section class="header">
<h1>Events</h1>
</section>
<section class="calendar">
</section>
<section class="events" data-date="{{ posts[0].event_date }}">
	

	{% include "events-list.twig" %}
</section>
{% endblock %}