body > .left{
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: .5rem;
	margin-bottom: 1rem;
	height: 4rem;
	overflow-y: visible;

	@media screen and (min-width: $tablet){
		width: 160px;
		position: absolute;
		left: 0.5rem;
		top: 15%;
		height: auto;
		margin-bottom: 0;
		padding: 0.5rem;
		z-index: 1;
		box-sizing: border-box;
	}
}

.logo{
	display: inline-block;
	max-height: 100%;
	width: auto;
	max-width: 50%;
	position: relative;
	z-index: 4;

	img{
		position: relative;
		top: -0.5rem;
		height: 3rem;
		width: auto;
	}

	@media screen and (min-width: $tablet){
		display: block;
		width: 100%;
		max-width: none;
		height: auto;
		float: none;
		box-sizing: border-box;
		padding-left: 1.25rem;
		img{
			width: auto;
			max-height: none;
			height: auto;
		}
	}
}

nav{
	display: block;
	position: absolute;
	float: right;
	box-sizing: border-box;
	padding-top: 3rem;
	height: 3rem;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	transition: height 0.5s;
	width: 100%;
	overflow-y: hidden;
	overflow-x: visible;
	z-index: 1;
	top: 0;
	right: 0;
	&:before{
		top: 0.5rem;
		right: 0.5rem;
		pointer-events: none;
		content: '▼';
		display: block;
		position: absolute;
		color: white;
		text-align: center;
		line-height: 2.1;
		font-size: 1rem;
		height: 2rem;
		width: 2rem;
		background-color: $theme-blue;
		z-index: 2;
	}
	&.active{
		height: 100vh;
		&:before{
			content: 'X';
		}
	}

	@media screen and (min-width: $tablet){
		float: none;
		padding-top: 1rem;
		right: 0;

		&:before{
			content: none;
		}
	}
}

.nav-inner{
	position: absolute;
	right: 0;
	top: 3rem;
	height: auto;
	width: 100vw;
	z-index: 3;
	box-sizing: border-box;
}

.nav-links{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	list-style: none;
	background-color: white;
	padding-top: 1rem;

	> a > li{
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: auto;
		padding: 1rem 0.5rem;
		border-bottom: 1px solid $theme-blue;
	}

	a{
		text-decoration: none;
	}

	@media screen and (min-width: $tablet){
		text-align: left;
		padding-top: 0;
		margin-top: 1rem;
		border-top: 1px solid $theme-blue;
		> li{
			padding: 0.75rem 0 0.75rem 0.5rem;
		}

	}
}

@media screen and (min-width: $tablet){

	nav, .nav-inner{
		position: relative;
		width: 100%;
		top: 0;
		height: auto;
	}

}
